* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li,
header nav li a {
    display: inline;
    margin-left: 16px;
    color: #ecf0f1;
    font: 24px;
    text-decoration: none;
}

.container {
    min-width: 1280px;
    width: 100%;
    margin: 0, auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}